@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';

body {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 7rem;
  font-family: $fonts;
}

input {
  border-radius: $border-radius;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  font-family: $fonts;
}

button {
  border: none;
  color: white;
  padding: 0 20px;
  display: inline-block;
}

.icon-close {
  cursor: pointer;
}

// button
.btn {
  &__selected {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    border-radius: $border-radius;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
  }
  &__disabled {
    color: #666666;
    pointer-events: none;
  }
  &__ingredient {
    background: $blue;
  }
  &__appliance {
    background: $green;
  }
  &__ustensils {
    background: $red;
  }
}

// HEADER
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.7rem;
  padding-top: 4.2rem;

  &__container-input {
    position: relative;
    width: 100%;
  }
  &__search {
    width: 100%;
    height: 69px;
    padding-left: 2.4rem;
    background-color: $light-gray;
    color: #000000;
  }
  ::placeholder {
    color: rgba($color: #000000, $alpha: 0.25);
    font-weight: 400;
    font-size: 18px;
  }

  &__icon-search {
    @include posAbsoluteIcon;
  }
}

// ADVANCED SEARCH

.advanced-search {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  &__container-inputs {
    display: flex;
    gap: 2rem;
    padding-bottom: 2.5rem;
  }

  &__container {
    position: relative;
    &:nth-child(1) .advanced-search__article {
      background: $blue;
    }

    &:nth-child(2) .advanced-search__article {
      background: $green;
    }

    &:nth-child(3) .advanced-search__article {
      background: $red;
    }
  }

  &__wrapper {
    position: relative;
    // width: 170px;
    ::placeholder {
      color: #ffffff;
      font-weight: 700;
      font-size: 18px;
    }
  }

  &__selected {
    padding: 2.5rem 0 1.5rem;
    display: flex;
    gap: 1rem;
  }

  &__wrapper.active {
    position: relative;
    width: 667px;
    // height: 397px;
    // background-color: $blue;
  }
  &__wraper-tag-ingredient {
    background-color: $blue;
  }

  &__wraper-tag-appliance {
    background: $green;
  }
  &__wraper-tag-ustensils {
    background: $red;
  }
  &__input-i {
    @include inputSearch($blue);
  }

  &__input-a {
    @include inputSearch($green);
  }

  &__input-u {
    @include inputSearch($red);
  }

  &__arrow-down {
    @include posAbsoluteIcon;
  }

  &__article {
    display: none;
    padding: 4rem 1.9rem;
    position: absolute;
    top: 5rem;
    width: 667px;
    border-radius: $border-radius;

    &:nth-child(1) {
      background: red;
    }
  }
  &__article.show {
    display: block;
    // background: $blue;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #ffffff;
  }

  &__tag {
    background: transparent;
    text-align: left;
    text-transform: capitalize;
    cursor: pointer;
    padding: 3px 0px 3px 5px;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

// CARD

.cards {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 5rem;
  }
}

.card {
  // max-width: 380px;
  margin-bottom: 15px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: $light-gray;

  &__figure {
    width: 100%;
    height: 178px;
    background-color: #c7bebe;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 18px;
    max-width: 23rem;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 100%;
  }

  &__content {
    padding: 20px;

    // min-height: 220px;
  }

  &__recette {
    padding: 11px;
  }

  &__min {
    font-size: 18px;
    font-weight: 700;
    vertical-align: bottom;
  }

  &__ingredients {
    width: 900px;
  }

  &__ingredient {
    font-size: 11 px;
    font-weight: 700;
  }
}

@media screen and (max-width: 1280px) {
  .cards {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 5rem;
    }
  }

  .advanced-search__container-inputs {
    flex-direction: column;
  }

  .advanced-search__article {
    position: initial;
    width: 100%;
  }

  .advanced-search__wrapper.active {
    width: 100%;
    transform: translateY(10px);
  }
}

@media screen and (max-width: 890px) {
  .cards {
    &__container {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-gap: 5rem;
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 0 1rem;
  }
  .advanced-search {
    display: none;
  }
  .cards__container {
    grid-gap: 0rem;
  }
  .card {
    margin-top: 20px;
  }
}
