@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

// FONTS
$fonts: 'Lato', sans-serif;
// COLOR
$light-gray: #E7E7E7;
$blue: #3282F7;
$green: #68D9A4;
$red: #ED6454;


// BORDER RADIUS
$border-radius: 5px;