@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 7rem;
  font-family: "Lato", sans-serif;
}

input {
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

button {
  border: none;
  color: white;
  padding: 0 20px;
  display: inline-block;
}

.btn__selected {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  border-radius: 5px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
}
.btn__disabled {
  color: #666666;
  pointer-events: none;
}
.btn__ingredient {
  background: #3282F7;
}
.btn__appliance {
  background: #68D9A4;
}
.btn__ustensils {
  background: #ED6454;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.7rem;
  padding-top: 4.2rem;
}
.header__container-input {
  position: relative;
  width: 100%;
}
.header__search {
  width: 100%;
  height: 69px;
  padding-left: 2.4rem;
  background-color: #E7E7E7;
  color: #000000;
}
.header ::placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 18px;
}
.header__icon-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.advanced-search {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.advanced-search__container-inputs {
  display: flex;
  gap: 2rem;
  padding-bottom: 2.5rem;
}
.advanced-search__container {
  position: relative;
}
.advanced-search__container:nth-child(1) article {
  background: #3282F7;
}
.advanced-search__container:nth-child(2) article {
  background: #68D9A4;
}
.advanced-search__container:nth-child(3) article {
  background: #ED6454;
}
.advanced-search__wrapper {
  position: relative;
}
.advanced-search__wrapper ::placeholder {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}
.advanced-search__selected {
  padding: 2.5rem 0 1.5rem;
  display: flex;
  gap: 1rem;
}
.advanced-search__wrapper.active {
  position: relative;
  width: 667px;
}
.advanced-search__wraper-tag-ingredient {
  background-color: #3282F7;
}
.advanced-search__wraper-tag-appliance {
  background: #68D9A4;
}
.advanced-search__wraper-tag-ustensils {
  background: #ED6454;
}
.advanced-search__input-i {
  background: #3282F7;
  height: 69px;
  padding-left: 1.5rem;
  width: 100%;
}
.advanced-search__input-a {
  background: #68D9A4;
  height: 69px;
  padding-left: 1.5rem;
  width: 100%;
}
.advanced-search__input-u {
  background: #ED6454;
  height: 69px;
  padding-left: 1.5rem;
  width: 100%;
}
.advanced-search__arrow-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.advanced-search__article {
  display: none;
  padding: 4rem 1.9rem;
  position: absolute;
  top: 5rem;
  width: 667px;
  border-radius: 5px;
}
.advanced-search__article:nth-child(1) {
  background: red;
}
.advanced-search__article.show {
  display: block;
}
.advanced-search__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  font-weight: 400;
  font-size: 1.8rem;
  color: #ffffff;
}
.advanced-search__tag {
  background: transparent;
  text-align: left;
  text-transform: capitalize;
  cursor: pointer;
  padding: 3px 0px 3px 5px;
}
.advanced-search__tag:hover {
  background: rgba(0, 0, 0, 0.1);
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 5rem;
}

.card {
  margin-bottom: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #E7E7E7;
}
.card__figure {
  width: 100%;
  height: 178px;
  background-color: #c7bebe;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  font-size: 18px;
  max-width: 23rem;
}
.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 100%;
}
.card__content {
  padding: 20px;
}
.card__recette {
  padding: 11px;
}
.card__min {
  font-size: 18px;
  font-weight: 700;
  vertical-align: bottom;
}
.card__ingredients {
  width: 900px;
}
.card__ingredient {
  font-size: 11 px;
  font-weight: 700;
}

@media screen and (max-width: 1280px) {
  .cards__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 5rem;
  }

  .advanced-search__container-inputs {
    flex-direction: column;
  }

  .advanced-search__article {
    position: initial;
    width: 100%;
  }

  .advanced-search__wrapper.active {
    width: 100%;
    transform: translateY(10px);
  }
}
@media screen and (max-width: 890px) {
  .cards__container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 5rem;
  }
}
@media screen and (max-width: 500px) {
  body {
    padding: 0 1rem;
  }

  .advanced-search {
    display: none;
  }

  .cards__container {
    grid-gap: 0rem;
  }

  .card {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
